.radio__legend__sub-label {
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 400;
}
span.hide {
    display: none;
}
fieldset.radio__fieldset--circle[data-swatches-container-print-to-order] {
    margin-top: 15px;
}
.swatch__button--print-to-order.sold-out .swatch__label:after {
    opacity: 0;
    visibility: hidden;
}
.PTO-draw {
    position: relative;
    background: white;
    max-width: 600px;
    width: 100%;
    margin: 12px auto 42px;
}
.PTO__wrapper {
    padding-bottom: 6px;
}
.PTO__head {
    background: lightgray;
    text-align: center;
    height: 54px;
    position: relative;
}
.PTO__label-title {
    font-size: 22px;
    line-height: 54px;
    margin-bottom: 0;
}
.PTO__inner {
    margin: 24px;
}
.print-to-order-modal{
    display: none; 
    position: fixed; 
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.o-layout {
    display: block;
    margin:  0;
    padding: 0;
    list-style: none;
    margin-left: -30px;
    font-size: 0;
}
.o-layout__item {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
    font-size: 1rem;
}
.u-1-1 {
    width: 100%
}
@media screen and (min-width: 768px) {
    .u-1-2_tab {
        width: 50%;
    }
    .u-1-3_tab {
        width: 33.33333%;
    }
}
[type="text"],
[type="password"],
[type="datetime"],
[type="datetime-local"],
[type="date"],
[type="month"],
[type="time"],
[type="week"],
[type="number"],
[type="email"],
[type="url"],
[type="search"],
[type="tel"],
[type="color"],
select,
textarea,
.radio-choices {
    display: block;
    border-radius: 0;
    height: 40px;
    line-height: 18px;
    font-size: 14px;
    padding: 0 12px;
    color: #212121;
    vertical-align: middle;
    border: 1px solid #e4e4e4;
    width: 100%;
    margin-bottom: 12px;
    cursor: pointer;
}
button.hide {
    display: none;
}
div.btn.hide {
    display: none;
}
.print-to-order-modal.open {
    display: block !important;
}